<app-head></app-head>

<br>
<br>


<div class="flex justify-center">

  <div class="p-4 rounded-lg border border-fuchsia-500 ">

    <h1 class="text-center text-xl">Войти как</h1>

    <div class="my-5 w-full">
      <button (click)="goUser()" class="p-2 w-full bg-purple-700 text-white hover:bg-purple-900 rounded">
        пользователь
      </button>
    </div>


    <div class="my-5 w-full">
      <button (click)="goSellerPerson()" class="p-2 w-full bg-purple-700 text-white hover:bg-purple-900 rounded">
        продавец
      </button>
    </div>


  </div>

</div>
