<app-head></app-head>

<br><br><br>

<div *ngIf="submitForm; else submitFormFalse">

  <div class="flex justify-center">

    <form [formGroup]="loginForm" (submit)="submit()" class="p-4 rounded-lg border border-fuchsia-500 ">


      <div class="my-5 w-full">
        <label for="password1">Новый пароль</label>
        <br>
        <input type="password" minlength="6" maxlength="24" formControlName="password1" id="password1" class="text-black text-[28px] p-2 rounded w-full border text-sm" placeholder="Новый пароль" required>
        <div *ngIf="password1.errors?.['required']"> Обязательно</div>
        <div *ngIf="password1.errors?.['minlength']"> Минимальная длина 6 </div>
        <div *ngIf="password1.errors?.['maxlength']"> Максимальная длина 24 </div>
        <div *ngIf="password1.errors?.['pattern']"> Некорректный пароль </div>
      </div>

      <div class="my-5 w-full">
        <label for="password2">Повторить пароль</label>
        <br>
        <input type="password" minlength="6" maxlength="24" formControlName="password2" id="password2" class="text-black text-[28px] p-2 rounded w-full border text-sm" placeholder="Повторить пароль" required>
        <div *ngIf="password2.errors?.['required']"> Обязательно</div>
        <div *ngIf="password2.errors?.['minlength']"> Минимальная длина 6 </div>
        <div *ngIf="password2.errors?.['maxlength']"> Максимальная длина 24 </div>
        <div *ngIf="password2.errors?.['pattern']"> Некорректный пароль </div>
        <div *ngIf="loginForm.hasError('noMatch')">Пароли не совпадают</div>
      </div>

      <div class="my-5 w-full">
        <button type="submit" [disabled]="!loginForm.valid" class="p-2 w-full bg-purple-700 text-white hover:bg-purple-900 rounded">
          Изменить
        </button>

      </div>

    </form>

  </div>

</div>


<ng-template #submitFormFalse>

  <div *ngIf="responseServer; else responseServerFalse">
    <p>Идёт отправка данных</p>
  </div>


  <ng-template #responseServerFalse>

    <div *ngIf="responseView; else responseViewFalse">

      <div>
        <p>Пароль успешно изменён.</p>
      </div>


    </div>

    <ng-template #responseViewFalse>
      <p>Упс. Что то пошло не так. Попробуйте позже</p>
    </ng-template>


  </ng-template>


</ng-template>

