<app-head></app-head>

<br><br><br>



<div *ngIf="submitForm; else submitFormFalse">

  <div class="flex justify-center">

    <form [formGroup]="loginForm" (submit)="submit()" class="p-4 rounded-lg border border-fuchsia-500 ">

      <h1 class="text-center text-xl">Регистрация</h1>

      <div class="my-5 w-full">
        <label for="email1">Адрес электронной почты</label>
        <br>
        <input type="email" (ngModelChange)="changeFieldMail()" minlength="8" maxlength="45" formControlName="email1" id="email1" class="text-black text-[28px] p-2 rounded w-full border text-sm" placeholder="Адрес электронной почты" required>
        <div *ngIf="email1.errors?.['required']"> Обязательно </div>
        <div *ngIf="email1.errors?.['minLength']"> Минимальная длина 8 </div>
        <div *ngIf="email1.errors?.['maxLength']"> Максимальная длина 58 </div>
        <div *ngIf="email1.errors?.['pattern']"> Некорректный Email </div>
      </div>

      <div class="my-5 w-full">
        <label for="email2">Адрес электронной почты</label>
        <br>
        <input type="email" (ngModelChange)="changeFieldMail()" minlength="8" maxlength="45" formControlName="email2" id="email2" class="text-black text-[28px] p-2 rounded w-full border text-sm" placeholder="Повторите адрес электронной почты" required>
        <div *ngIf="email2.errors?.['required']"> Обязательно </div>
        <div *ngIf="email2.errors?.['minLength']"> Минимальная длина 8 </div>
        <div *ngIf="email2.errors?.['maxLength']"> Максимальная длина 58 </div>
        <div *ngIf="email2.errors?.['pattern']"> Некорректный Email </div>
        <div *ngIf="loginForm.hasError('noMatchMail')">Адрес электронной почты не совпадает</div>
      </div>


      <div class="my-5 w-full">
        <label for="password1">Пароль</label>
        <input type="password" (ngModelChange)="changeFieldPass()" minlength="6" maxlength="24" formControlName="password1" id="password1" class="text-[28px] p-2 rounded w-full border text-sm" placeholder="Пароль" required>
        <div *ngIf="password1.errors?.['required']"> Пароль обязательно </div>
        <div *ngIf="password1.errors?.['minlength']"> Минимальная длина 6 </div>
        <div *ngIf="password1.errors?.['maxlength']"> Максимальная длина 24 </div>
        <div *ngIf="password1.errors?.['pattern']"> Некорректный пароль </div>
      </div>

      <div class="my-5 w-full">
        <label for="password2">Повторить пароль</label>
        <input type="password" (ngModelChange)="changeFieldPass()" minlength="6" maxlength="24" formControlName="password2" id="password2" class="text-[28px] p-2 rounded w-full border text-sm" placeholder="Повторить пароль" required>
        <div *ngIf="password2.errors?.['required']"> Пароль обязательно </div>
        <div *ngIf="password2.errors?.['minlength']"> Минимальная длина 6 </div>
        <div *ngIf="password2.errors?.['maxlength']"> Максимальная длина 24 </div>
        <div *ngIf="password2.errors?.['pattern']"> Некорректный пароль </div>
        <div *ngIf="loginForm.hasError('noMatchPass')">Пароли не совпадают</div>
      </div>

      <div class="my-5 w-full">
        <button type="submit" [disabled]="!loginForm.valid" class="p-2 w-full bg-purple-700 text-white hover:bg-purple-900 rounded">
          Зарегистрироваться
        </button>

        <div class="text-center my-5 w-52" *ngIf="emailExists"> Пользователь с таким адресом электронной почты уже существует </div>

      </div>
      <a href="http://localhost:4201/registration">Стать продавцом</a>
    </form>

  </div>

</div>


<ng-template #submitFormFalse>

  <div *ngIf="responseServer; else responseServerFalse">
    <p>Пытаемся зарегистрироваться. Ждём ответа от сервера</p>
  </div>


  <ng-template #responseServerFalse>

    <div *ngIf="responseView; else responseViewFalse">

      <div>
        <p>Вы успешно зарегистрировались. Пожалуйста проверьте вашу почту и следуйте инструкции.</p>
      </div>


    </div>

    <ng-template #responseViewFalse>
      <p>Упс. Что-то пошло не так. Попробуйте позже</p>
    </ng-template>


  </ng-template>


</ng-template>
